
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head {
    text-align: center;
}

.titulo {
    color: #333;
}

#nomPeli {
    margin: 10px 0;
    padding: 8px;
    width: 60%;
}

#btnBuscar {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#separador {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.resultado {
    color: #007BFF;
}

.contenido {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#resenia {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    min-height: 100px;
    max-height: none; 
    overflow-y: auto; 
}

#actoresPrin {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

  